<!DOCTYPE html>
<html>
    {% block head %}   
        <head>
            <meta charset="UTF-8" />
            <title>Athletik Les 1000 pas</title>

            <meta name="description" content="Transformation Kite" >
            <meta name="author" content="sheelman">

            <!-- Mobile Specific Meta -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

            <!-- Bootstrap  -->
            <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

            <!-- icon fonts font Awesome -->
            <link href="{{ asset('assets/css/font-awesome.min.css')}}" rel="stylesheet">

            <!-- Custom Styles -->
            <link href="{{ asset('assets/css/4-col-portfolio.css')}}" rel="stylesheet">
            <link href="{{ asset('assets/css/style.css')}}" rel="stylesheet">


            <!--Color Style -->
            <link rel="stylesheet" type="text/css" id="color" href="{{ asset('assets/css/colors/default.css')}}"/>

            <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.js"></script>
            <![endif]-->
        </head>
    {% endblock %}


    <body>

        {% block preloder %}       
            <!-- Preloader -->
            <div id="preloader">
                <div id="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="lading"></div>
                </div>
            </div><!-- /#preloader -->
            <!-- Preloader End-->
        {% endblock %} 

        {% block menu %}

            <!-- Main Menu -->
            <div id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">


                <div class="navbar-header">
                    <!-- responsive navigation -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button> <!-- /.navbar-toggle -->

                </div> <!-- /.navbar-header -->

                <nav class="collapse navbar-collapse">
                    <!-- Main navigation -->
                    <ul id="headernavigation" class="nav navbar-nav">
                        <li class="active"><a href="#page-top">Home</a></li>
                        <li><a href="{{ asset('#lettre')}}">Lettre du président</a></li>
                        <li><a href="{{ asset('#portfolio')}}">Portfolio</a></li>	
                        <li><a href="#contact">Contact</a></li>
                        <br/>
                        <li><a href="{{ asset('resultat')}}">Résultat des courses</a></li>	
                        <li><a href="{{ asset('classement')}}">Classement Général</a></li>
                    </ul> <!-- /.nav .navbar-nav -->
                </nav> <!-- /.navbar-collapse  -->
            </div><!-- /#main-menu -->
            <!-- Main Menu End -->
        {% endblock %}

        {% block timer %}
            <!-- Page Top Section -->
            <section id="page-top" class="section-style" data-background-image="{{ asset('images/background/runners-751853_1920.jpg')}}">
                <div class="pattern height-resize">
                    <div class="container">

                        <h1 class="site-title">
                            Athletik
                        </h1><!-- /.site-title -->
                        <h3 class="section-name">
                            <span>
                                Assossiation
                            </span>
                        </h3><!-- /.section-name -->
                        <h2 class="section-title">
                            Les 1000 pas

                        </h2><!-- /.Section-title  -->
                        <div id="time_countdown" class="time-count-container">

                            <div class="col-sm-3">
                                <div class="time-box">
                                    <div class="time-box-inner dash days_dash animated" data-animation="rollIn" data-animation-delay="300">
                                        <span class="time-number">
                                            <span class="digit">0</span>
                                            <span class="digit">0</span>
                                        </span>
                                        <span class="time-name">Days</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="time-box">
                                    <div class="time-box-inner dash hours_dash animated" data-animation="rollIn" data-animation-delay="600">
                                        <span class="time-number">
                                            <span class="digit">0</span>
                                            <span class="digit">0</span>	
                                        </span>
                                        <span class="time-name">Hours</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="time-box">
                                    <div class="time-box-inner dash minutes_dash animated" data-animation="rollIn" data-animation-delay="900">
                                        <span class="time-number">
                                            <span class="digit">0</span>
                                            <span class="digit">0</span>                                       
                                        </span>
                                        <span class="time-name">Minutes</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="time-box">
                                    <div class="time-box-inner dash seconds_dash animated" data-animation="rollIn" data-animation-delay="1200">
                                        <span class="time-number">
                                            <span class="digit">0</span>
                                            <span class="digit">0</span>
                                        </span>
                                        <span class="time-name">Seconds</span>
                                    </div>
                                </div>
                            </div>

                        </div><!-- /.time-count-container -->

                        <p class="time-until">
                            <span>Pour votre prochaine course</span>
                        </p><!-- /.time-until -->
                    {% endblock%}

                    {% block fin %}
                        <div class="next-section">
                            <a class="go-to-lettre"><span></span></a>
                        </div><!-- /.next-section -->
                    {%endblock%}

                </div><!-- /.container -->
            </div><!-- /.pattern -->		
        </section><!-- /#page-top -->
        <!-- Page Top Section  End -->

{% block letter %}{%endblock%}
{% block portfolio %}{%endblock%}
{% block resultat %}{%endblock%}
{% block classement %}{%endblock%}

{% block contact %}       
    <!-- Contact Section -->
    <section id="contact" class="section-style" data-background-image="{{ asset('images/background/silhouette-1159234_1920.jpg')}}">
        <div class="pattern height-resize">
            <div class="container">
                <h3 class="section-name">
                    <span>
                        Contact
                    </span>
                </h3><!-- /.section-name -->
                <h2 class="section-title">
                    Entrer en contact 
                </h2><!-- /.Section-title  -->
                <p class="section-description">
                    «Si vous courez, vous êtes un coureur. Peu importe à quelle vitesse ou quelle distance. Ce n'est pas grave si aujourd'hui est votre premier jour ou si vous courez depuis vingt ans. Il n'existe aucun test à passer, aucun permis à gagner, pas de carte de membre à obtenir. Vous n’avez qu’à courir. »
                    - John Bingham
                </p><!-- /.section-description -->

                <form id="contact-form" action="#" method="post" class="clearfix">
                    <div class="contact-box-hide">
                        <div class="col-sm-6">
                            <input type="text"  class="form-control" id="first_name" name="first_name" required placeholder="Prénom">
                            <span class="first-name-error"></span>
                        </div>
                        <div class="col-sm-6">
                            <input type="text"  class="form-control" id="last_name" name="last_name" required placeholder="Nom">
                            <span class="last-name-error"></span>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control"  id="contact_email" name="contact_email" required placeholder="Email">
                            <span class="contact-email-error"></span>
                        </div>
                        <div class="col-sm-6">
                            <input type="text"  class="form-control" id="subject" name="contact_subject" required placeholder="Subjet">
                            <span class="contact-subject-error"></span>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="message" name="message" required placeholder="Message"></textarea>
                            <span class="contact-message-error"></span>
                        </div>
                        <div class="col-sm-2">
                            <button id="contact-submit" class="btn custom-btn col-xs-12" type="submit" name="submit"><i class="fa fa-thumbs-o-up "></i></button>
                            <span id="contact-loading" class="btn custom-btn col-xs-12"> <i class="fa fa-refresh fa-spin"></i> </span>
                        </div>
                    </div><!-- /.contact-box-hide -->
                    <div class="contact-message"></div>

                </form><!-- /#contact-form -->

                <div class="social-btn-container">
                    <span class="social-btn-box">
                        <a href="#" class="facebook-btn">
                            <i class="fa fa-facebook"></i></a>
                    </span><!-- /.social-btn-box -->

                    <span class="social-btn-box">
                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                    </span><!-- /.social-btn-box -->

                    <span class="social-btn-box">
                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                    </span><!-- /.social-btn-box -->

                    <span class="social-btn-box">
                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                    </span><!-- /.social-btn-box -->


                    <span class="social-btn-box">
                        <a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
                    </span><!-- /.social-btn-box -->



                </div><!-- /.social-btn-container -->



                <div class="next-section">
                    <a class="go-to-page-top"><span></span></a>
                </div><!-- /.next-section -->

            </div><!-- /.container -->
        </div><!-- /.pattern -->

    </section><!-- /#contact -->
    <!-- Contact Section End -->
{% endblock%}

{% block footer %}
    <!-- Footer Section -->
    <footer id="footer-section">
        <p class="copyright">
            &copy; <a href="#">Squallcorps</a> 2017-2017, All Rights Reserved. Designed by & Developed by <a href="#">Sheelman</a>
        </p>
    </footer>
    <!-- Footer Section End -->
{% endblock%}

{% block color_switcher %}
    <!-- Color Variation Switcher  -->
    <div id="color-style-switcher">
        <div>

            <h3>Color palette</h3>
            <ul class="colors">
                <li><a class="color1 active" href="#"></a></li>
                <li><a class="color2" href="#"></a></li>
                <li><a class="color3" href="#"></a></li>
                <li><a class="color4" href="#"></a></li>
                <li><a class="color5" href="#"></a></li>
                <li><a class="color6" href="#"></a></li>
                <li><a class="color7" href="#"></a></li>
                <li><a class="color8" href="#"></a></li>
            </ul>
        </div>	  
        <div class="bottom">
            <a href="#" class="settings"><i class="fa fa-cogs icon-2x"></i></a>
        </div>
    </div>
    <!-- Color Variation Switcher End -->
{% endblock %}

{% block conexion_switcher %}               
    <!-- conexion Switcher  -->
    <section id="conexion">
        <div>

            <h3>Conexion</h3>

            <div>
                {% block profile %}
                {% endblock profile %}
            </div>
            <div class="menu">
                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
                <br/>
                <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
            </div>
        </div>
        <div class="bottom">
            <a href="#" class="settings"><i class="fa fa-user icon-2x"></i></a>
        </div>
    </section>
    <!-- Conexion Switcher End -->
{% endblock %}

{% block javascripts %}
    <!-- jQuery Library -->      
    <script type="text/javascript" src="{{ asset('assets/js/jquery-2.1.0.min.js')}}"></script>
    <!-- Modernizr js -->
    <script type="text/javascript" src="{{ asset('assets/js/modernizr-2.8.0.min.js')}}"></script>
    <!-- Plugins -->
    <script type="text/javascript" src="{{ asset('assets/js/plugins.js')}}"></script>
    <!-- Custom JavaScript Functions -->
    <script type="text/javascript" src="{{ asset('assets/js/functions.js')}}"></script>
    <!-- Color Style Switcher -->
    <script type="text/javascript" src="{{ asset('assets/js/switcher.js')}}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
{% endblock %}
</body>
</html>
