{% extends 'base.html.twig' %}

{% block letter %}
            <!-- Lettre du président section -->
        <section id="lettre" class="section-style" data-background-image="images/background/courir-de-nuit1.jpg">
            <div class="pattern height-resize">
                <div class="container">
                    <h3 class="section-name">
                        <span>
                            Lettre du président
                        </span>
                    </h3><!-- /.section-name -->
                    <h2 class="section-title">
                        Qui sommes nous !
                    </h2><!-- /.Section-title  -->
                    <p class="section-description">
                        “La compétition sportive est une parabole qui illustre parfaitement la grande course de la vie.” - Claude Lelouch 
                    </p><!-- /.section-description -->

                    <!-- box section-->
                    <article class="box">
                        <header>
                            <h2>Athletik</h2>
                            <p>Les 1000 pas</p>
                        </header>
                        <div class="content">
                            <p>

                                Qu'est-ce que le Lorem Ipsum?

                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                                <br/>
                                <br/>Pourquoi l'utiliser?

                                On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).

                            </p>
                        </div>
                        <footer>

                        </footer>
                    </article>
                    <!-- /.box section-->

                    <div class="next-section">
                        <a class="go-to-portfolio"><span></span></a>
                    </div><!-- /.next-section -->

                </div><!-- /.container -->
            </div><!-- /.pattern -->

        </section><!-- /#lettre -->
        <!-- Lettre du président section End -->
{%endblock%}

{% block portfolio %}
        <!-- Portfolio Us Section -->
        <section id="portfolio" class="section-style" data-background-image="images/background/runners-752493_1920.jpg">
            <div class="pattern height-resize">
                <div class="container">
                    <!-- Page Heading -->
                    <h3 class="section-name">
                        <span>
                            Portfolio
                        </span>
                    </h3><!-- /.section-name -->
                    <h2 class="section-title">
                        Quelques photos de nos dernières courses 
                    </h2><!-- /.Section-title  -->
                    <p class="section-description">
                        «Vous devez vous demander parfois ce que vous faites là-bas. Au fil des ans, je me suis donné mille raisons pour continuer à courir, mais ça revient toujours au point de départ. Ça se résume à l'auto-satisfaction et un sentiment d'accomplissement. »
                        <br/>- Steve Prefontaine
                    </p><!-- /.section-description -->
                    <!-- /.row -->

                    <!-- Projects Row -->
                    <div class="row">
                        <div class="col-md-3 portfolio-item">
                            <a href="images/portfolio/race-932254_640.jpg">
                                <img class="img-responsive" src="images/portfolio/race-932254_640.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="images/portfolio/runner-864859_640.jpg">
                                <img class="img-responsive" src="images/portfolio/runner-864859_640.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="images/portfolio/running-78192_640.jpg">
                                <img class="img-responsive" src="images/portfolio/running-78192_640.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="images/portfolio/running-942110_640.jpg">
                                <img class="img-responsive" src="images/portfolio/running-942110_640.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.row -->

                    <!-- Projects Row -->
                    <div class="row">
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.row -->

                    <!-- Projects Row -->
                    <div class="row">
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.row -->

                    <hr>

                    <!-- Pagination -->
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <ul class="pagination">
                                <li>
                                    <a href="#">&laquo;</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="next-section">
                        <a class="go-to-resultat"><span></span></a>
                    </div><!-- /.next-section -->
                </div><!-- /.container -->
            </div><!-- /.pattern -->
        </section><!-- /#portfolio -->
        <!-- Portfolio Section End -->
{%endblock%}

{% block resultat %}
        <!-- Résultat des courses Section -->
        <section id="resultat" class="section-style" data-background-image="images/background/lampes-frontales_generale_0.jpg">
            <div class="pattern height-resize"> 
                <div class="container">
                    <h3 class="section-name">
                        <span>
                            Résultat par courses
                        </span>
                    </h3><!-- /.section-name -->
                    <h2 class="section-title">
                        Chaque course a son résultat
                    </h2><!-- /.Section-title  -->
                    <p class="section-description">
                        « La course est un grand point d'interrogation qui est là chaque jour. Elle vous demande : « Est-ce que vous allez être une mauviette ou allez vous être fort aujourd'hui ? »
                        - Peter Maher, marathonien canadien
                    </p><!-- /.section-description -->

                    <article class="box">
                        <header>
                            <h2>Résultats des courses</h2>
                            <p>2017</p>
                        </header>
                        <div class="content">

                        </div>
                        <footer>
                            <a href="/" class="button alt">Archive</a>
                        </footer>
                    </article>

                    <div class="next-section">
                        <a class="go-to-classement"><span></span></a>
                    </div><!-- /.next-section -->

                </div><!-- /.container -->
            </div><!-- /.pattern -->


        </section><!-- /#resultat -->
        <!-- Résultat des courses Section End -->
{%endblock%}

{% block classement %}
    

    
        <!-- Classement général Section -->
        <section id="classement" class="section-style" data-background-image="images/background/static1.squarespace.com.jpeg">
            
            <div class="pattern height-resize">
                <div class="container">
                            {% if is_granted('ROLE_USER') %}
            <h1>je suis user!!!!!!!</h1>
{% endif %}
                    <h3 class="section-name">
                        <span>
                            Classement général
                        </span>
                    </h3><!-- /.section-name -->
                    <h2 class="section-title">
                        Qui est le premier ! 
                    </h2><!-- /.Section-title  -->
                    <p class="section-description">
                        « Courir est un sanctuaire pour moi. Ça me tient centré. Je ne peux pas prendre mon téléphone portable ou mon ordinateur. Je peux ne pas être disponible et être totalement égoïste. »
                        - Tanna Frederick, Actrice
                    </p><!-- /.section-description -->

                    <article class="box">
                        <header>
                            <h2>Classement</h2>
                            <p>2017</p>
                        </header>
                        <div class="content">

                        </div>
                        <footer>
                            <a href="/" class="button alt">Archive</a>
                        </footer>
                    </article>

                    <div class="next-section">
                        <a class="go-to-contact"><span></span></a>
                    </div><!-- /.next-section -->

                </div><!-- /.container -->
            </div><!-- /.pattern -->

        </section><!-- /#classement -->
        <!-- Classement général Section End -->
{%endblock%}
          {% block conexion_switcher %}               
            <!-- conexion Switcher  -->
            <section id="conexion">
                <div>

                        <h3>Conexion</h3>
                        
                        <div class="login">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </div>

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                        <div>
                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>
                    <div class="menu">
                        <a href="/#">Home</a>
                        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        <a href="{{ path('fos_user_profile_show') }}" >Mon Profil</a>
                    </div>
                </div>
                <div class="bottom">
                    <a href="#" class="settings"><i class="fa fa-user icon-2x"></i></a>
                </div>
            </section>
            <!-- Conexion Switcher End -->
        {% endblock %}